name: dev Build Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Github Code
        uses: actions/checkout@v3

      - name: Set Up Python Environment
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: false
          tags: parse-video-py:latest
          platforms: |
            linux/amd64